body
  background-image: url(http://adamruf.com/ask-adam-8-ball/img/fortune-teller-bg.jpg)
  background-size: cover
  font-family: 'Rye', cursive
  padding: 6rem

h1
  font-size: 2rem

p
  font-size: 4rem

.answer-wrapper
  background: transparentize(white, 0.25)
  border-radius: 2rem
  padding: 2rem


//   font-family: 'Rye', cursive;
// font-family: 'Playfair Display', serif;
// font-family: 'Chewy', cursive;
// font-family: 'Freckle Face', cursive;
// font-family: 'Carter One', cursive;
.crystal-ball
  background-color: #fafafa
  height: 20rem
  width: 20rem
